<!DOCTYPE html>
<html>
    <head>
        <link href="/assets/styles.css" rel ="stylesheet" type="text/css" />
    </head>
    <body>
        <% include partials/nav.ejs %>
        <h1>Clearly, the best site on the net</h1>
        <p>I dare you to find one better</p>
    </body>
</html>